* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  min-width: 375px;
}

main {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

header img {
  margin-right: auto;
  height: 50px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

header nav {
  width: 100%;
}

header nav .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav-links li {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  height: 45px;
  border-bottom: 5px #f2f2f2 solid;
}

header nav .nav-links li a {
  text-decoration: none;
  color: black;
}

header nav .nav-links li:first-child {
  border-bottom: 5px #0065fc solid;
}

header nav .nav-links li:first-child a {
  color: #0065fc;
}

.show-more {
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  margin: 20px 0 40px 0;
  background-color: white;
}

.search-box {
  padding: 20px 0px 5px 0px;
  margin: 0 22px;
}

.search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 100%;
}

.search-box h3 {
  margin-top: 5px;
  font-size: 22px;
  padding-bottom: 15px;
}

.search-box p {
  font-size: 16px;
  font-weight: 600;
}

.search-box .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border: #f2f2f2 solid 1px;
  border-radius: 12px;
}

.search-box .search-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 12px 0px 0px 12px;
  height: 100%;
  width: 60px;
  color: black;
  border: none;
  cursor: pointer;
}

.search-box .search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.search-box .search-bar input:focus {
  outline: none;
}

.search-box .search-bar button {
  background-color: #0065fc;
  border-radius: 14px;
  height: 100%;
  width: 60px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.search-box .search-bar button span {
  visibility: hidden;
}

.search-box .search-bar button i {
  font-size: 18px;
}

.filter {
  margin: 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  border-radius: 5px;
}

.filter span {
  text-align: center;
}

.filter h3 {
  font-size: 18px;
  margin: 10px 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.wrapper .flex-button-3 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.wrapper .flex-button-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.wrapper p {
  font-size: 16px;
  font-weight: 600;
  padding-right: 15px;
  padding-left: 5px;
}

.wrapper .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 145px;
  height: 50px;
  border-radius: 25px;
  border-right: 1.5px solid silver;
  border-top: 1.5px solid silver;
  border-bottom: 1.5px solid silver;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.wrapper .button:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.wrapper .button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #0059fc;
  background-color: #deebff;
}

.info-found {
  margin: 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.info-found p {
  margin-left: 5px;
  width: 300px;
  font-size: 15px;
}

.info-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
}

#accommodations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#accommodations .mid-grid {
  margin: 0 22px;
  height: auto;
  border-radius: 20px;
}

#accommodations .mid-grid .bold-text {
  font-size: 22px;
  font-weight: bold;
  margin: 25px 0px;
  text-align: center;
}

#accommodations .mid-grid .container-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 20px 0 5px 0;
}

#accommodations .mid-grid .container-grid-row .card {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
}

#accommodations .mid-grid .container-grid-row .card .ratings {
  margin: 2px;
}

#accommodations .mid-grid .container-grid-row .card a {
  text-decoration: none;
  color: black;
}

#accommodations .mid-grid .container-grid-row .card .image-container {
  position: relative;
  width: 100%;
  height: 130px;
  padding: 5px;
  overflow: hidden;
}

#accommodations .mid-grid .container-grid-row .card .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

#accommodations .mid-grid .container-grid-row .card .cards-content {
  margin: 10px;
}

#accommodations .mid-grid .container-grid-row .card .cards-content .card-hotel-name {
  font-size: 16px;
  font-weight: bold;
}

#accommodations .mid-grid .container-grid-row .card .cards-content .card-hotel-price {
  font-size: 14px;
  padding-top: 5px;
}

.right-grid {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 40px 20px;
}

.right-grid .header-right-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
}

.right-grid .container-grid-column {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-grid .container-grid-column .side-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px;
  gap: 10px;
  width: 100%;
}

.right-grid .container-grid-column .side-card a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.right-grid .container-grid-column .side-card a .inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
}

.right-grid .container-grid-column .side-card a .inner-card .content {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 10px;
  margin-top: 10px;
}

.right-grid .container-grid-column .side-card a .inner-card .content .card-hotel-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.right-grid .container-grid-column .side-card a .inner-card .content .card-hotel-price {
  font-size: 14px;
}

.right-grid .container-grid-column .side-card a .inner-card .content p {
  font-size: 10px;
}

.right-grid .container-grid-column .side-card .side-image-container {
  height: 100%;
  width: 130px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5px;
}

.right-grid .container-grid-column .side-card .side-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.right-grid .container-grid-column .ratings {
  width: 52px;
}

.stars-outer {
  position: relative;
  display: inline-block;
  width: 100px;
}

.stars-outer:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #ccc;
}

.stars-outer .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer .stars-inner.one-star {
  width: 15px;
}

.stars-outer .stars-inner.two-stars {
  width: 32px;
}

.stars-outer .stars-inner.three-stars {
  width: 47px;
}

.stars-outer .stars-inner.four-stars {
  width: 63px;
}

.stars-outer .stars-inner.five-stars {
  width: 80px;
}

.stars-outer .stars-inner:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #0062fc;
}

#activities {
  width: 100%;
}

.activities-container-grid {
  height: auto;
  margin: 5px 20px;
}

.activities-container-grid h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.activities-container-grid .active-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.activities-container-grid .active-container a {
  text-decoration: none;
}

.activities-container-grid .active-container .active-card {
  width: 100%;
  height: 210px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.activities-container-grid .active-container .active-card .ratings {
  margin: 2px;
}

.activities-container-grid .active-container .active-card p {
  font-size: 16px;
  padding: 18px;
  color: black;
  font-weight: bold;
}

.activities-container-grid .active-container .active-card .activities-image-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.activities-container-grid .active-container .active-card .activities-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.activities-container-grid .active-container .active-card .cards-content {
  margin: 10px;
}

.activities-container-grid .active-container .active-card .cards-content .card-hotel-name {
  font-size: 16px;
  font-weight: bold;
}

.activities-container-grid .active-container .active-card .cards-content .card-hotel-price {
  font-size: 14px;
  padding-top: 5px;
}

footer {
  background-color: #f2f2f2;
}

footer .footer-wrapper {
  margin: 20px 20px 0 20px;
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer ul li {
  list-style: none;
  font-size: 16px;
  margin: 10px 0px;
}

footer .footer-item {
  display: inline-block;
  padding: 10px;
}

footer .footer-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
/*# sourceMappingURL=mobile.css.map */