* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
}

main {
  padding: 0 35px 0 35px;
  width: 992px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 0;
}

header img {
  margin-right: auto;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
  margin: 30px 0px 20px 20px;
}

.show-more {
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
}

.nav-links {
  list-style: none;
  margin-top: 0;
}

.nav-links li {
  display: inline-block;
  height: 100px;
  padding: 20px;
  border-top: white 2px solid;
  cursor: pointer;
}

.nav-links li:hover {
  border-top: #0065fc 2px solid;
}

.nav-links li a {
  text-decoration: none;
  color: #0065fc;
  font-size: 15px;
  font-weight: 600;
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-box {
  padding: 5px 0px 5px 0px;
}

.search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 280px;
}

.search-box h3 {
  margin-top: 5px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 35px;
  border-radius: 5px;
}

.search-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  height: 35px;
  width: 100%;
  color: black;
  border: none;
  cursor: pointer;
}

.search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 160px;
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
  border: #f2f2f2 1px solid;
  text-transform: capitalize;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: blue;
  border-radius: 0 10px 10px 0;
  height: 35px;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 0px;
  width: auto;
  height: 50px;
  border-radius: 5px;
}

.filter span {
  text-align: center;
}

.filter h3 {
  padding-right: 20px;
}

.wrapper {
  margin-right: 20%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 992px;
  height: 40px;
  border-radius: 5px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding-right: 10px;
  height: 35px;
  border-radius: 40px;
  border-right: 2px solid silver;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  cursor: pointer;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 40px;
  color: #0059fc;
  background-color: #deebff;
}

.info-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
}

.info-found p {
  margin-left: 5px;
  width: 300px;
  font-size: 12px;
}

#accommodations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.mid-grid {
  width: 70%;
  height: 450px;
  background-color: #f2f2f2;
  margin-right: 28px;
  border-radius: 20px;
}

.container-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 20px;
}

.card {
  width: 170px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
}

.cards-content {
  margin: 5px 0px 5px 5px;
}

.card-hotel-name {
  font-size: 12px;
  font-weight: bold;
}

.card-hotel-price {
  font-size: 10px;
  padding-top: 5px;
}

.card .ratings {
  margin: 2px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 5px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.right-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 450px;
  background-color: #f2f2f2;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-grid-column {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-card {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
}

.side-card .inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  margin: 10px;
  width: 240px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.21);
}

.side-card .inner-card .content {
  padding: 5px;
}

.side-card .inner-card .content .card-hotel-name {
  font-size: 12px;
}

.side-card .inner-card .content .card-hotel-price {
  font-size: 10px;
}

.side-card .inner-card .content p {
  font-size: 15px;
}

.side-card .side-image-container {
  height: 95px;
  width: 90px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 3px;
}

.side-card .side-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8px;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8px;
  color: #0062fc;
}

.activities-container-grid {
  background-color: blue;
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 20px;
}

.active-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.active-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: #f2f2f2;
  width: 992px;
  height: 150px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer div {
  display: inline-block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

footer ul li {
  list-style: none;
}

.footer-item {
  display: inline-block;
  padding: 50px;
}
/*# sourceMappingURL=style.css.map */