* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  margin-right: 0 50px 0 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0065fc;
  cursor: pointer;
}

.container {
  background-color: aquamarine;
}
.one {
  background-color: #3cff00;
}
.two {
  background-color: #ff0000;
}
.footer {
  background: #e800fd;
}
